$row: percentage(1/36);
$column: percentage(1/48);


#prompt {
  position: relative;
  height: 16 * $row;
  width: 46 * $column;
  top: $row;
  margin: 0 $column $row $column;
  background-color: #282c34;
}

#option1 {
  top: $row;
  position: relative;
  height: 3 * $row;
  margin: $row $column $row $column;
  width: 46 * $column;
  background-color: #4968a4;
}
